.aimp {

  .play, .next, .previous, .repeat, .shuffle {
    width: 33px;
    height: 100%;
    transition: ease-in-out all .1s;
    background: no-repeat center center;
    background-size: 60%;
    margin: 0 1vh;

    &:hover {
      cursor: pointer;
    }
  }

  .play {
    background-image: url(../images/aimp/play.svg);

    &:hover {
      background-image: url(../images/aimp/play-hover.svg);
    }
  }

  .pause {
    background-image: url(../images/aimp/pause.svg);

    &:hover {
      background-image: url(../images/aimp/pause-hover.svg);
    }
  }

  .previous {
    background-image: url(../images/aimp/previous.svg);

    &:hover {
      background-image: url(../images/aimp/previous-hover.svg);
    }
  }

  .next {
    background-image: url(../images/aimp/next.svg);

    &:hover {
      background-image: url(../images/aimp/next-hover.svg);
    }
  }

  .repeat {
    background-image: url(../images/aimp/repeat.svg);
    margin: 0;

    &:hover {
      background-image: url(../images/aimp/repeat-hover.svg);
    }

    &.active {
      background-image: url(../images/aimp/repeat-active.svg);
    }
  }

  .shuffle {
    background-image: url(../images/aimp/shuffle.svg);
    margin: 0;

    &:hover {
      background-image: url(../images/aimp/shuffle-hover.svg);
    }

    &.active {
      background-image: url(../images/aimp/shuffle-active.svg);
    }
  }

  .previous {
    order: 1;
  }

  .play {
    order: 2;
  }

  .pause {
    order: 2;
  }

  .next {
    order: 3;
  }

  .repeat {
    order: 4;
  }

  .shuffle {
    order: 5;
  }

 }