@-ms-viewport{
  width: device-width;
}

html {
  width:100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  width:100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position:fixed; /* prevent overscroll bounce*/
  background-color: lightgreen;
  //-webkit-overflow-scrolling: touch; /* iOS velocity scrolling */
  //-webkit-text-size-adjust: 100%;
  font: 12px/1.4 "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Garuda, Verdana, Tahoma, sans-serif;
}

html *, body * {
  //box-sizing: border-box;
}

body {
  background: no-repeat center center;
  background-size: contain;
}

.artwork-500 {
  width: 500px;
  height: 500px;
  background: no-repeat;
  background-size: cover;
}

@import "aimp/player";
@import "aimp/buttons";
@import "aimp/volume-control";
@import "aimp/progress-bar";
@import "aimp/play-list";
@import "aimp/animations";
@import "aimp/responsive";

